*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color:#fff ;
}

#header{
    width:100%;
    height: 100vh;
    background-image: url(Images/1.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 150px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
}

nav ul li a:hover::after{
    width: 100%;
}

.container .mobile-icon {
    display: none;
}

.header-text{
    margin-top: 20%;
    font-size: 25px;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span{
    color:  #ff004f;
}

/*----------about----------*/

#about{
    padding: 80px 0;
    color:#ababab;
}

.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    display: none;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*---------achievements-------*/
#achievements{
    padding: 30px 0;
}

.achievements-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.achievements-list div{
    background:#262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.achievements-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.achievements-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.achievements-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.achievements-list div:hover{
    background: #ff004f;
    transform: translateY(-10);
}

/*---------projects---------*/

#projects{
    padding:50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius:10px;
    position:relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform(0.5s);
}

.layer{
    width: 100%;
    height: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 15px;
    color: #ff004f;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height:100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    background-color: #080808;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

.hidden-projects {
    display: none;
}

/*---------contact---------*/
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn .btn2{
    display: inline-block;
    background: #ff004f;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top:20px;
    cursor: pointer;
}

.email-link {
    color: inherit;
    text-decoration: none; 
    position: relative; 
}

.email-link:hover::after {
    content: "";
    position: absolute; 
    left: 0; 
    bottom: -6px;
    width: 100%; 
    border-bottom: 3px solid #ff004f; 
}

.copyright{
    width:100%;
    text-align: center;
    padding: 23px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}


/* -----------css for small screens-------- */
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(Images/Portfolio\ portrait\ new.png);
    }
    .header-text{
        margin-top:45%;
        font-size: 18px;
    }
    .header-text h1{
        margin-top:40%;
        font-size: 33px;
        
    }
    nav .fa-solid{
        display : block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top:0;
        right:-200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index:2;
        transition: right 0.5s ;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
       flex-basis: 100%; 
    }
    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-1 .desktop-image {
        display: block;
    }

    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right:20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size:14px;
    }
    .layer{
        font-size: 11px;
        padding: 0 10px;
    }
    .layer h3{
        font-weight: 550;
        margin-bottom: 15px;
    }
    .layer a{
        font-size: 15px;
        line-height: 40px;
        width: 40px;
        height: 40px;
    }
    .container .mobile-icon {
        display: inline-block;
    }
}

@media only screen and (min-width: 601px) {
    .about-col-1 .mobile-image {
        display: block; 
    }
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
